<!doctype html>
<html>
    <head>
        <title>'Userprofile'</title>        
    </head>
    <body>
        <h2>Welcome to SpendLogger</h2><br>
        <button type='button' name='loginbtn' onclick="location.href='/login'"> Login</button><br><br>
        <button type='button' name='signinbtn' onclick="location.href='/signup'">SignUp</button>  
        
        <!--script src="/reload/reload.js"></script-->
    </body>
</html>


